*{
  color:#16697a;
  font-family: serif;
}
.text-color{
  color:#ff9500;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ///////////////////login page/////////////////////// */
.login-container{
  width: 650px;
  background-color: #ede7e3;
  border-radius: 15px;
}
Form .login-button{
  background-color: #ffa62b;
  --bs-btn-hover-border-color:#ffa62b;
}
 input {
  border-radius: 5px;
  border:none;
}

.home-container{
  width: 500px;
  background-color: #ede7e3;
  box-shadow: #ffa72b67 0px 4px 12px;
border-radius: 15px;
}

.App .butt{
  background-color: #ffa62b;
  --bs-btn-hover-border-color:#ffa62b;
}


.trans-container{
  background-color: #ede7e3;
  box-shadow: #ffa72b39 0px 4px 8px;

  border-radius: 15px;
}
.user-container{
  width: 500px;
  height: 300px;
  overflow: hidden;
  background-color: #ede7e3;
  box-shadow: #ffa72b67 0px 4px 12px;
border-radius: 15px;
margin: 15px;
}